## Introduction
## Welcome to this Data Science notebook! In this notebook, we will explore various data science concepts and exercises.

## Data Science Languages
- Python
- R
- Julia
- SQL
- Scala

## Data Science Libraries
- NumPy
- pandas
- Matplotlib
- Seaborn
- scikit-learn
- TensorFlow
- PyTorch

## Data Science Tools

| Tool         | Description                        |
|--------------|------------------------------------|
| Jupyter      | Interactive computing environment  |
| VS Code      | Integrated Development Environment |
| Tableau      | Data visualization tool            |
| SQL Server   | Relational database management     |
| Git          | Version control system             |
| Excel        | Spreadsheet software               |
| Power BI     | Business analytics tool            |

## Arithmetic Expressions
In this section, we will explore some examples of arithmetic expressions and operations.

In [3]:
# Multiply and add numbers
result = 5 * 3 + 2
print(result)

17

In [4]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours.")

120 minutes is equal to 2.0 hours.

## Objectives
In this notebook, we aim to:
1. Explore data science languages and libraries.
2. Work with arithmetic expressions.
3. Convert units of time.
4. Share the notebook via GitHub.

## Author
- Neeraj allam